*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
    color: #61646a;
}

/* ********************************
****** CONTENITORE SUPERIORE ******
********************************* */

.container{
    /* DEBUG */
    background-color: aquamarine;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}


/* /////////////// SIDEBAR /////////////// */


.col-sidebar{
    /* DEGUB */
    background-color: black;
    width: 250px;
    height: calc(100vh - 100px);
    padding: 10px 20px;
}

.col-sidebar img{
    width: 40px;

}

.navigation ul li a{
    text-decoration: none;
    color: #61646a;
    font-size: 16px;
    font-weight: 600;
    list-style-type: none;
}

ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
}

.navigation ul li{
    /* padding: 10px 20px; */
}

.scroll{
    height: 100px;
    overflow: auto;
}


.col-main{
    /* DEBUG */
    background-color: #141922;
    height: calc(100vh - 100px);
    width: calc(100% - 250px);
    overflow: auto;
}






/* ********************************
****** CONTENITORE PLAYER *********
********************************* */
.player{
    /* DEBUG */
    width: 100%;
    background-color: #282828;
    height: 100px;
}