*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
    color: #61646a;
}

/* ********************************
****** CONTENITORE SUPERIORE ******
********************************* */

.container{
    /* DEBUG */
    background-color: aquamarine;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}


/* /////////////// SIDEBAR /////////////// */


.col-sidebar{
    /* DEGUB */
    background-color: black;
    width: 250px;
    height: calc(100vh - 100px);
}

.col-sidebar img{
    width: 40px;

}



.col-main{
    /* DEBUG */
    background-color: #141922;
    height: calc(100vh - 100px);
    width: calc(100% - 250px);
    overflow: auto;
}






/* ********************************
****** CONTENITORE PLAYER *********
********************************* */
.player{
    /* DEBUG */
    width: 100%;
    background-color: #282828;
    height: 100px;
}